@import url('https://fonts.googleapis.com/css?family=Karla');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Karla', sans-serif !important;
}
html, body {
  overflow-x: hidden;
  height: 100% !important;
  background-color: #f5f5f6;
}
button {
  padding-left: 1rem !important;
  border-radius: 5px;
  padding-right: 1rem !important;
  border: none;
}
.no-resize {
  resize: none;
}
.select2-container--default .select2-selection--single {
  border: 1px solid #ced4da !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #6B6B6B !important;
}
.show-modal {
  cursor: pointer;
}
.show {
  z-index: 99999;
  opacity: 1 !important;
  visibility: visible !important;
}
.modal-custom-overlay {
  position: fixed;
  transition: all 250ms;
  height: 100vh;
  width: 100%;
  opacity: 0;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  background-color: rgba(0,0,0,.47);
}
.modal-custom-overlay .modal-custom {
  background-color: #fff;
  overflow: hidden;
  border: 1px solid #8F8F8F;
  border-radius: 8px;
}
.modal-custom-header {
  padding: 20px 0;
  color: #444;
  font-weight: bold;
  border-bottom: 1px solid #C6C6C6;
}
.modal-custom-body {
  overflow: hidden;
  padding: 20px 25px;
}
.card {
  overflow: hidden;
  border-radius: 6px;
}
.no-underline:hover {
  text-decoration: none !important;
}
.height-full {
  height: 100%;
}
div.alert {
  height: 50px;
}
#task_page {
  min-height: calc(100vh - 70px - 242px);
}
textarea {
  min-height: 155px;
}
button {
  transition: all 200ms;
  box-shadow: 0 3px 4px rgba(0,0,0,.2);
}
button:focus {
  box-shadow: none !important;
}
select.custom-select, span.select2, span.selection, span.select2-selection {
  height: 38px !important;
}
.select2-selection__arrow {
  position: relative;
  top: 50% !important;
  transform: translateY(-50%) !important;
  right: 10px !important;
}
.select2-selection__rendered {
  height: 100% !important;
  display: flex !important;
  align-items: center;
}
button:active {
  transform: translateY(2px);
  box-shadow: 0 1px 4px rgba(0,0,0,.46);
}
.btn:not(button) {
  transition: all 300ms;
  box-shadow: 0px 4px 5px rgba(0,0,0,.25);
  padding: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.btn:not(button):active, .btn:not(button):focus {
  outline: none !important;
  box-shadow: 0 2px 5px rgba(0,0,0,.55) !important;
  transform: translateY(2px);
}
.btn-circle {
  border-radius: 50%;
}
.container {
  width: 90% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: none !important;
}
body > nav {
  background-color: #fff;
  z-index: 9999;
  box-shadow: 0 3px 4px rgba(0,0,0,.2);
  min-height: 70px;
  padding: 0 5% !important;
}
body > nav a {
  position: relative;
  color: #002171;
}
nav .navbar-brand {
  padding: 0;
  font-size: 1.7rem;
  color: #002171;
  font-weight: bold;
  letter-spacing: 2.5px;
}
nav > div > ul > li > a {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: .5px;
}
header {
  background-color: #f5f5f6;
  width: 100%;
  height: calc(100vh - 60px);
  position: relative;
}
header #header_slogan {
  text-align: center;
  color: #002171;
  text-transform: capitalize;
  position: relative;
  display: block;
  height: 48px;
  width: 100%;
  margin-bottom: 70px !important;
  font-weight: 500;
}
header #header_slogan:after {
  content: '';
  position: absolute;
  bottom: -20px;
  height: 3px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #002171;
  width: 50%;
  max-width: 300px;
}
header > .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
header > .container > .row {
  position: relative;
  justify-content: center;
}
header .container .row:first-of-type > .col-2 > .btn {
  font-size: 1rem;
  color: white;
  border-radius: 7px;
  height: 90px;
  transition: all 250ms;
  width: 100%;
  background-color: #002171;
  flex-direction: column;
}
header .container .row .col-2:first-child > .btn {
  background-color: #f57c00;
}
header .container .row:nth-of-type(2) > .col-6 > div {
  border-radius: 8px;
  background-color: #002171;
}
header .container .row:nth-of-type(2) > .col-6 > div > span {
  color: #F2F2F2;
  font-weight: bold;
}
header .container .row:nth-of-type(2) > .col-6 > div > span > var {
  margin-top: 5px;
  color: #E8923A;
}
header .container .row:nth-of-type(2) > .col-6 > div > span > var sup {
  margin-right: 3px;
}
header .container .row:nth-of-type(2) > .col-6 > div > .btn {
  background-color: #f57c00 !important;
  border-radius: 8px;
  font-weight: bold;
}
main {
  overflow-x: hidden;
}
#profile_page aside + section {
  overflow: hidden;
  border-radius: 6px;
}
#profile_page aside + section .nav-tabs .nav-link {
  position: relative;
  color: #334854;
}
#profile_page aside + section .nav-tabs .nav-link:hover {
  color: #f57c00;
}
#profile_page aside + section .nav-tabs .nav-link.active {
  color: #f57c00;
}
#profile_page aside + section .nav-tabs .nav-link.active:after {
  background-color: #f57c00;
  height: 2px;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
#profile_page {
  min-height: calc(100vh - 70px - 245px);
}
#profile_page aside + section .nav-tabs .nav-item:first-child .nav-link {
  border-left-color: white;
}
#profile_page aside + section .tab-fane article + article {
  margin-bottom: 1rem;
}
#profile_page aside + section .tab-fane article:last-child {
  margin-bottom: 0;
}
#profile_page aside figure > .btn:first-child {
  background-color: #74bc60;
  color: white;
}
#profile_page aside + section .nav-tabs {
  background-color: #E1E2E1;
}
#profile_page aside + section .nav-tabs .nav-link {
  background-color: inherit;
  border-color: #E1E2E1 !important;
}
#update_profile form > h1:first-of-type {
  margin-bottom: 2rem;
  color: #343434;
}
.nav-tabs .nav-item .nav-link {
  border-top-color: white;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
main > section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
main #profile_page #people_details li small, main #profile_page #people_details li address {
  font-size: 14px;
}
main #order_page .row .col address, main #order_page #deskripsi_pesanan p {
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  min-height: 150px;
  padding: .375rem .75rem;
}
body > footer {
  max-height: 242px;
  background-color: #2d373c;
}
footer #footer_content {
  background-color: #333e44;
}
footer #footer_content li a {
  color: #6AC5DE;
}
footer #footer_legal {
  background-color: #2d373c;
}

@media screen and (min-width: 992px) {
  nav .nav-link {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}
