@import "general.css";

main #search_materi {
  min-height: calc(100vh - 242px - 70px);
}
main #search_materi form button {
  background-color: #28C45E;
  position: absolute;
  color: white;
  right: 0;
  font-size: 20px;
  top: 0;
  border: 1px solid #22B555;
  padding: 0 .75rem !important;
  height: 100%;
  transition: all 250ms;
  border-radius: 0 0.25rem 0.25rem 0 !important;
}
main #search_materi form button:hover {
  background-color: #15A446;
  border: 1px solid #149540;
}
main #search_materi .card figcaption h5 {
  color: #292929;
  text-transform: capitalize;
}
main #search_materi .card figcaption p {
  color: #676767;
}
main #search_materi .card var {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: #E6602F;
  font-weight: bold;
}
main #cari_guru form button {
  padding: 7px 1rem;
}
main #task_page article img {
  margin-left: auto;
  margin-right: auto;
}
main #task_page .card-task {
  display: block;
}
main #task_page .card-task article {
  transition: all 250ms;
}
main #task_page .card-task + .card-task {
  margin-top: 30px;
}
#task_page .card-task article .detail_pesanan > h2 {
  position: relative;
}
main #task_page .card-task article .detail_pesanan > h2::after {
  content: '';
  position: absolute;
  bottom: -10px;
  height: 2px;
  width: 0;
  transition: all 250ms;
  left: 0;
  background-color: #24B1C9;
}
main #task_page .card-task:hover article .detail_pesanan > h2::after {
  width: 180px;
}
main #task_page .card-task:hover article {
  box-shadow: 0 4px 8px rgba(0,0,0,.15)!important;
}
main #profile_page  .myoverlay {
  transition: all 300ms;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(15,15,15,.7);
  display: flex;
  z-index: 999999;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  justify-content: center;
}
main #profile_page  .myoverlay.active {
  opacity: 1;
  visibility: visible;
}
main #profile_page  .myoverlay .mymodal {
  background-color: white;
  height: auto;
}
main #profile_page  .myoverlay .mymodal video {
  width: 100%;
  display: block;
  border: none;
  height: 100%;
}
.myoverlay .close-modal {
  top: 30px;
  right: 30px;
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 2rem;
}
.myoverlay .close-modal:hover {
  color: #E2E2E2;
}

@media screen and (min-width: 768px) {

  main #task_page article img {
    margin-left: 0;
    float: left;
  }
  main #task_page article .detail_pesanan span {
    position: absolute;
    right: 1rem;
    top: 10px;
  }
  main #profile_page  .myoverlay .mymodal {
    width: 80%;
    height: 80%;
  }
}
